body {
	margin: 0;
	padding: 0;
}

.col {
	width: 33%;
	height: 100vh;
	display: inline-block;
	margin: -2px;
}

#left {
	background-color: #4990E2;
}

#center {
	background-color: #4FE3C1;
}

#right {
	background-color: #B9E888;
	position: relative;
}

.image-placeholder {
	text-align: center;
	background-color: #D0011B;
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0px;
	display: table;
} 

p {
	display: table-cell;
	vertical-align: middle;
	font-size: 3vw;
	color: #FFF;
}