body {
	margin: 0px;
	padding: 0px;
	height: 100vh;
}

.div {
	width: 100%;
}

.div1 {
	background-color: #D8D8D8;
	height: 14%;
	position: relative;
}

.small-square {
	background-color: #4990E2;
	width: 12.5%;
	height: 11vh;
	margin-top: 15px;
	margin-left: 20px;
	position: absolute;
}

.div2 {
	background-color: white;
	height: 30%;
	display: table;
}

.div2 p {
	padding: 20px;
	display: table-cell;
	vertical-align: middle;
	font-size: 2.5vw;
}

.div3 {
	background-color: #4990E2;
	height: 14%;
}

.div4 {
	background-color: #4FE3C1;
	height: 14%;
}

.div5 {
	background-color: #B9E888;
	height: 14%;
}

.div6 {
	background-color: #F8E71E;
	height: 14%;
}